* {
  margin: 0;
  padding: 0;
  font-family: gilroy;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

#main {
  overflow: auto;
}

#page1 {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.starimg {
  position: absolute;
  right: 1%;
}

#page1 > nav {
  height: 15vh;
  width: 100%;
}

#nav-content {
  padding: 2vw 5vw;
  display: flex;
  justify-content: space-between;
}

#navList {
  display: flex;
  justify-content: space-around;
  gap: 2vw;
  align-items: center;
}
#navList > span {
  display: flex;
  gap: 0.5vw;
}

#navList > h3 {
  font-weight: 500;
  font-size: 1vw;
}
#navList > span > h6 {
  font-weight: 600;
  font-size: 1vw;
}

#navList > span > i {
  text-align: center;
  font-size: 1vw;
  color: red;
}

#nav-content > button {
  padding: 1.5vh 2vw;
  border: none;
  font-size: 1vw;
  border-radius: 0.2vw;
  background-color: black;
  font-weight: 500;
  text-align: center;
  color: white;
}

#hero {
  height: 85vh;
  width: 100%;
  position: relative;
}

#hero-container {
  margin-left: 5vw;
  padding-top: 8vh;
}

#hero-container > h1 {
  width: 40vw;
  font-size: 4vw;
}

#hero-container > p {
  margin-top: 2vh;
  width: 36vw;
  font-size: 1.1vw;
  color: silver;
}

#hero-buttons {
  margin-top: 2vh;
}

#hero-buttons > #first-button {
  padding: 1.5vh 1vw;
  margin-right: 1vw;
  border: none;
  font-size: 1vw;
  border-radius: 0.2vw;
  background-color: black;
  font-weight: 500;
  text-align: center;
  color: white;
}

#hero-buttons > #first-button > i {
  font-size: 1.5vw;
  text-align: center;
}

#hero-buttons > #sec-button {
  padding: 1.5vh 1vw;
  margin-right: 1vw;
  border: none;
  font-size: 1vw;
  border-radius: 0.2vw;
  font-weight: 500;
  text-align: center;
  color: black;
  background-color: white;
}

#hero-buttons > #sec-button > span > i {
  text-align: center;
  margin-right: 0.5vw;
  font-size: 1vw;
}

#hero-image {
  position: absolute;
  top: 10%;
  left: 47%;
}

#hero-image-content {
  display: flex;
  margin-left: 5vw;
  height: 80%;
  width: 80%;
  gap: 1vw;
}

.hero-image-continer {
  height: 80%;
  width: 80%;
}
.hero-image-continer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  rotate: -15deg;
}

#page1-img {
  height: 71%;
  width: 50%;
  object-fit: cover;
  object-position: center;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 25vh;
}

#page2-image-container {
  height: 100vh;
  width: 50%;
  padding-left: 0.3vw;
}

#page2-image-container img {
  height: 80%;
  width: 80%;
  object-fit: cover;
  object-position: center;
}

#page2-container {
  height: 100vh;
  width: 50%;
  padding-top: 10vh;
}

#page2-container > h1 {
  font-weight: 500;
  font-size: 1.5vw;
  text-transform: uppercase;
  color: tomato;
}
#page2-container > h2 {
  font-weight: 600;
  font-size: 3vw;
  padding-top: 0.5vh;
  margin-bottom: 3vh;
}

.page2-part2-container > h1 > span > i {
  font-size: 1.5vw;
  color: tomato;
  margin-right: 1vw;
}
.page2-part2-container > h1 {
  font-size: 1.3vw;
  padding: 1.5vh 0vw;
}

.page2-part2-container > p {
  margin: 1vh 0vw;
  width: 90%;
  font-size: 1.2vw;
  color: silver;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

#page3-part-1 {
  height: 100vh;
  width: 50%;
  position: relative;
}
#page3-part-2 {
  height: 100vh;
  width: 50%;
  padding-left: 0.5vw;
}

#page3-img-container img {
  height: 80%;
  width: 80%;
  object-fit: cover;
  object-position: center;
}

#page3-star {
  position: absolute;
  right: 5%;
}

#page3-part-1 {
  padding-top: 20vh;
  padding-left: 8vw;
}

#page3-part-1 > h1 {
  font-weight: 500;
  font-size: 1.5vw;
  text-transform: uppercase;
  color: tomato;
}
#page3-part-1 > h2 {
  font-weight: 600;
  font-size: 3vw;
  padding: 1vh 0vw;
}

#page3-part-1 > h3 > span > i {
  padding: 0.8vw;
  font-size: 1vw;
  background-color: tomato;
  border-radius: 50%;
  color: white;
  margin-right: 1vw;
}

#page3-part-1 > h3 {
  font-size: 1.3vw;
  padding-top: 0.8vh;
}

#page3-part-1 > p {
  margin: 2vh 0vw;
  padding-top: 2vh;
  width: 90%;
  font-size: 1.5vw;
  color: silver;
}

#page4 {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

#page4-part1 {
  height: 100vh;
  width: 50%;
  padding-left: 1vw;
}

#page4-part1 img {
  height: 80%;
  width: 80%;
  object-fit: cover;
  object-position: center;
}

#page4-part2 {
  height: 100vh;
  width: 50%;
  padding-top: 25vh;
}

#page4-part2 > h1 > span > i {
  padding: 0.8vw;
  font-size: 1vw;
  background-color: tomato;
  border-radius: 50%;
  color: white;
  margin-right: 1vw;
}

#page4-part2 > h3 {
  font-size: 1.3vw;
  padding-top: 0.8vh;
}

#page4-part2 > p {
  margin: 2vh 0vw;
  padding-top: 2vh;
  width: 90%;
  font-size: 1.5vw;
  color: silver;
}

#page5 {
  min-height: 100vh;
  width: 100%;
}

#page5 > h5 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2vw;
  font-weight: 500;
}
#page5 > h4 {
  text-align: center;
  font-size: 2.5vw;
  font-weight: 600;
}

#page5-container {
  width: 100%;
  height: 82vh;
  display: flex;
}

#page5-part1 {
  height: 100%;
  width: 50%;
}

#page5-part1 img {
  height: 100%;
  width: 90%;
  object-fit: cover;
  object-position: center;
}

#page5-part2 {
  height: 100%;
  width: 50%;
  padding-top: 20vh;
}

#page5-part2 > h3 {
  width: 65%;
  font-size: 2vw;
}

#page5-part2 > p {
  width: 70%;
  font-size: 1.3vw;
  padding-top: 2vh;
  color: silver;
}

#page5-image-container {
  display: flex;
  overflow: hidden;
  gap: 2vw;
  width: 100%;
  padding: 2vh 0vw;
}

.image-container {
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
  overflow: hidden;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

#page5-part2 > h6 {
  font-weight: 500;
  font-size: 1.5vw;
}

#page6 {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

#page6-part1 {
  height: 100vh;
  width: 50%;
  padding-top: 5vh;
  padding-left: 5vw;
}

#page6-part2 {
  height: 100vh;
  width: 50%;
  padding-right: 5vw;
}

#page6-part1 > h1 {
  text-transform: uppercase;
  font-size: 1.5vw;
  font-weight: 500;
  color: tomato;
}

#page6-part1 > h3 {
  font-weight: 600;
  font-size: 2vw;
}

.page6-part1-para1 {
  height: 20vh;
  width: 100%;
  background-color: tomato;
  color: white;
  margin: 3vh 0;
  padding: 1vw;
  border-radius: 0.6vw;
}

.page6-part1-para1:nth-last-child(2) {
  background-color: white;
  color: black;
}

.page6-part1-para1 > h4 {
  font-weight: 600;
  font-size: 1.5vw;
  width: 65%;
}

.page6-part1-para1 > p {
  width: 90%;
  font-size: 1vw;
  padding-top: 2vh;
}

#page6-part2 {
  height: 100vh;
  width: 50%;
  padding-top: 17.2vh;
}

.page6-part2-para1 {
  height: 20vh;
  width: 100%;
  background-color: tomato;
  color: white;
  margin: 3vh 0;
  padding: 1vw;
  border-radius: 0.6vw;
}

.page6-part2-para1:nth-child(2) {
  background-color: white;
  color: black;
}

.page6-part2-para1:nth-child(4) {
  background-color: white;
  color: black;
}

.page6-part2-para1 > h4 {
  font-weight: 600;
  font-size: 1.5vw;
  width: 65%;
}

.page6-part2-para1 > p {
  width: 90%;
  font-size: 1vw;
  padding-top: 2vh;
}

#page7 {
  min-height: 100vh;
  width: 100%;
  padding: 8vw;
  position: relative;
}
#page7 > img {
  position: absolute;
  top: 0;
  right: 2%;
}

#page7-container {
  height: 80vh;
  width: 80vw;
  overflow: hidden;
}

#page7-container img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

footer {
  width: 100%;
}

#footer-content {
  padding: 7vw;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.footer-container > h1 > span > i {
  font-size: 1.5vw;
  color: tomato;
  margin-right: 0.3vw;
}
.footer-container > h4 > span > i {
  font-size: 1.5vw;
  color: tomato;
  margin-right: 0.3vw;
}

.footer-container > h1 {
  font-size: 1.5vw;
}
.footer-container > h4 {
  padding: 0.6vh 0;
  font-size: 1vw;
  font-weight: 500;
}

.submit {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1vw;
}

.submit input {
  background-color: silver;
  border-radius: 0.3vw;
  padding: 0.8vh 0.7vw;
  border: none;
  font-size: 1vw;
  text-align: center;
}

.submit > button {
  background-color: rgb(0, 0, 0);
  border-radius: 0.3vw;
  color: white;
  padding: 0.8vh 0.7vw;
  border: none;
  font-size: 1vw;
  text-align: center;
}

#footer-bottom {
  text-align: center;
  font-size: 1vw;
  font-weight: 500;
  margin-bottom: 0.5vh;
}
